# Machine Learning 

There are 4 types of ML Methonds 
-  Supervised
-  Unsupervised
-  Renforcement
-  Semi Supervised

Supervised : It is called supervised when there are target variables in the dataset

Types of models used in the Supervised 
- Regersion
- Classification

Used Models in Regression 
- Linear Reg
- SVM 
- Random Forest 
- Decision Tree
- Navi Bayes

# Linear Reg

## Pipe Line of ML Projects : 

- step  1 : Import req libs 
- step  2 : Load the dataset 
- step  3 : Data Preprocessing 
- step  4 : EDA 
- step  5 : Feature Engineering
- step  6 : Divide data into X and y
- step  7 : Spliting the data into Train and Test 
- step  8 : Train Model -> Import Model , Load Model and Fit Model
- step  9 : Check model loss function 
- step 10 : Check Model Evaluation Metrics
- step 11 : Saved model

In [5]:
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
# Step 1 : Import req libs
df = pd.read_csv("linear_regression_datasest.csv")
df.head()

   Feature_1  Feature_2      Target
0  18.727006  26.661964   75.032045
1  47.535715  58.771085  186.095787
2  36.599697  88.565125  200.512604
3  29.932924  75.900240  174.586253
4   7.800932  82.590503  132.746780

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Feature_1  1000 non-null   float64
 1   Feature_2  1000 non-null   float64
 2   Target     1000 non-null   float64
dtypes: float64(3)
memory usage: 23.6 KB

In [4]:
df.describe()

         Feature_1    Feature_2       Target
count  1000.000000  1000.000000  1000.000000
mean     24.512828    55.631557   133.169216
std      14.606868    26.297090    49.845584
min       0.231601    10.289644    11.866554
25%      11.798663    31.696684    97.734249
50%      24.840369    56.686052   134.027666
75%      37.215979    78.441855   169.051039
max      49.985884    99.947235   255.915972