# Week-1 Day1

In [70]:
project=float(input("Enter Proj score"))
Internal=float(input("Enter Internal score"))
External=float(input("Enter External score"))
if(project >=50):
    pass
else :
    print("You have failed in project",project)
if(Internal >=50):
    pass
else :
    print("You have failed in Internal",Internal)
if(External >=50):
    pass
else :
    print("You have failed in External",External)
if project >= 50 and Internal>=50 and External>= 50:
    Total= (project*0.70)+(Internal*0.10)+(External*0.20)
    print("Your Total score is ",Total)
    if(Total >= 90):
        print("A Grade")
    elif(Total >= 70) :
        print("B Grade")
    elif(Total >= 50) :
        print("C Grade")
    else:
        print("Fail")
else :
    print("Fails")

Enter Proj score 69
Enter Internal score 69
Enter External score 56

Your Total score is  66.39999999999999
C Grade

In [72]:
Fruits=["Apple","Pineapple","Grape","Peach"]

In [94]:
Fruits[ 1:3]

['Pineapple', 'Grape']

In [96]:
Fruits[0::3]

['Apple', 'Peach']

In [98]:
len(Fruits)

4

In [100]:
Fruits[2]="Pear"

In [102]:
Fruits

['Apple', 'Pineapple', 'Pear', 'Peach']

In [110]:
if "Apple" in Fruits :
    print("Apple is Present")

Apple is Present

In [130]:
Fruits.pop(-1)
Fruits

['Apple', 'Pineapple', 'Pear']

In [134]:
Fruits_2=["Watermelon","kiwi"]
Fruits=Fruits+Fruits_2
print(Fruits)

['Apple', 'Pineapple', 'Pear', 'Watermelon', 'kiwi']

In [138]:
Fruits.sort()
Fruits

['Apple', 'Pear', 'Pineapple', 'Watermelon', 'kiwi']

## Variables

- Global
- local

In [156]:
a= "This is a Global Variable"
def localVar():
    a="This is Local VAriable"
    print(a)
    return
print(a)
localVar()

This is a Global Variable
This is Local VAriable

In [160]:
x=5
def Upadtion():
    x=20
    print(x)
    return
print("This is Global Var",x)
print("This is local var")
Upadtion()

This is Global Var 5
This is local var
20

In [174]:
x = 5
print("Original Global Variable Vlaue",x)
def fun_name():
    global x
    b=69
    print(x+b)
    x= x+69
fun_name()
print("New Global Variable Vlaue",x)

Original Global Variable Vlaue 5
74
New Global Variable Vlaue 74

## DataTypes
- round

In [197]:
a=101.000015
#For 1 Decimal point do 
round(a,5)

101.00002

## Q)Accept Basic Sal and give gr1oss Sal

In [210]:
Basic=int(input("Enter Basic Salary"))
Hra= 0.0
Dra=0.0
if Basic <=10000 :
    Hra = Basic*0.67
    Dra = Basic*0.80
elif Basic <=20000:
    Hra = Basic*0.69
    Dra = Basic*0.82
elif Basic >20000:
    Hra = Basic*0.72
    Dra = Basic*0.90
Gross_Sal= Basic+Hra+Dra
print("Gross Salary is ",Gross_Sal)

Enter Basic Salary 170000

Gross Salary is  445400.0

In [243]:
sal=int(input("Enter sal"))
if sal<=700000:
    tax=0
elif sal>700000:
    tax=15000# for 3 to 6 L
    sal=sal-600000
    if sal>=600000:
        tax = tax+90000
        sal= sal-600000
    else:
        tax=tax+(sal*0.15)
        sal=0
    if sal>0:
        tax = tax+(sal*0.30)
print(tax)

Enter sal 1300000

135000.0

# Week-1 Day2

## Convertion of datatypes

In [248]:
# float to int
a=12.3434
b=int(a)
print(b)

12

In [5]:
# to know your datatype
Statement= "    Hello This is a String    " 
print(type(Statement))

<class 'str'>

In [7]:
Test="      HEllo      "
print(Test.strip())
print(Test.rstrip())
print(Test.lstrip())

HEllo
      HEllo
HEllo

## Text to lower case ,Upper, Title

In [19]:
print(Statement.lower())
print(Statement.upper())

    hello this is a string
    HELLO THIS IS A STRING

In [23]:
print(Statement.title())

    Hello This Is A String

## String Formating (F-Sting)

In [31]:
name="Bhavesh"
course="Aiml"
print(f"Hello my name is {name} and I am registered for {course} course")

Hello my name is Bhavesh and I am registered for Aiml course

## Slicing

In [61]:
Var="Face"
print(Var[-4: ])
print(Var[ ::-1])

Face
ecaF

In [73]:
Test_Sting=input("Enter a test String to get number of vowels")
length=len(Test_Sting)    
count=0
vowels=['a','e','i','o','u']
for ch in Test_Sting:
    if ch in vowels:
        count= count+1
print(count)

Enter a test String to get number of vowels education

5

## Replace All spaces with -

In [79]:
# Replace All spaces with -
Var="data science project"
print(Var.replace(" ","-"))

data-science-project

In [101]:
newVar=""
test="-"
for ch in Var:
    if ch == " ":
        newVar=newVar+test
    else:
        newVar=newVar+ch
print(newVar)

data-science-project

## List

In [113]:
# Creating a List 
list1=["parul",22,"Bharat",45.5,"vadodara",99]
print(list1)
print(type(list1))

['parul', 22, 'Bharat', 45.5, 'vadodara', 99]
<class 'list'>

In [119]:
#Accesing using indexing
list1[0]

'parul'

In [171]:
#Append
fruits=['apple','banana','cherry']

fruits.append("orange")
fruits.insert(1,"peach")
print(fruits)

['apple', 'peach', 'banana', 'cherry', 'orange']

In [183]:
cars=['Ford','BMW','Volvo']
fruits.extend(cars)
print(fruits)

['BMW', 'Ford', 'Volvo', 'apple', 'banana', 'cherry', 'orange', 'peach', 'Ford', 'BMW', 'Volvo']

In [185]:
#pop Method

In [189]:
print(fruits.sort(reverse=True))

None

In [195]:
text=input("Enter a input")
a=text.split()
print(a)

Enter a input hellsdv vwwv rgwgrwg wef

['hellsdv', 'vwwv', 'rgwgrwg', 'wef']

In [201]:
# Tuples
numbers=( 1,3,7,8,7,5,4,6,8,5)
x=numbers.index(4)
print(x)

6

In [205]:
numbers.count(5)

2

In [207]:
#Dictionary

In [219]:
cars={
    "brand" : "Mahindra",
    "model" : "Thar",
    "year" :2010
}
cars.keys()

dict_keys(['brand', 'model', 'year'])

In [234]:
print(cars["model"],cars["brand"])

Thar Mahindra

In [240]:
keys=['model','year']
ss=[cars[k] for k in keys]
print(ss)

['Thar', 2010]

In [250]:
print(cars.items())

dict_items([('brand', 'Mahindra'), ('model', 'Thar'), ('year', 2010)])

In [258]:
cars['model']='lamm'
cars
cars.update({'year':2012})
cars

{'brand': 'Mahindra', 'model': 'lamm', 'year': 2012}

In [264]:
cars["color"]="black"
cars

{'brand': 'Mahindra', 'model': 'lamm', 'year': 2012, 'color': 'black'}

In [273]:
cars.pop('model')

'lamm'

In [312]:
from collections import Counter
Text="swiss"
cnt=Counter(Text)
for ch in cnt:
    if cnt[ch]==1:
        print(ch)
        break

w

In [338]:
amt= int(input("Enter amount"))
Fiv=0
Two=0
One=0
if amt%100 == 0:
    if( amt>= 500):
        Fiv=amt//500
        amt=amt-(Fiv*500)
        print(f"No of 500 are {Fiv}")
    if (amt>=200):
        Two=amt//200
        amt=amt-(Two*200)
        print(f"No of 200 {Two}")
    if (amt>=100):
        One=amt//100
        amt=amt-(One*100)
        print(f"No of 100 {One}")
else:
     print("Enter valid amount (Multiples of 500 or 200 or 100")

Enter amount 2342394522900

No of 500 are 4684789045
No of 200 2